/*------------*
    $MIXINS
*-------------*/
.table {
  border-collapse: collapse;
}

.celdas {
  border: 1px solid black;
  padding: 0.5em;
}

/*------------------*
    $BUTTONS
*--------------*/
.btn {
  display: inline-block;
  color: white;
  background-color: #ea83ee;
  line-height: 2.5;
  border-radius: 3px;
  font-size: 24px;
}
.btn__icon {
  font-size: 0.6em;
}
.btn--info {
  background-color: #42b8dd;
}

section {
  max-width: 800px;
  margin: 0 auto;
  background-color: 91, 183, 91;
  padding: 24px;
}
@media only screen and (min-width: 800px) {
  section {
    background-color: red;
  }
}

.max-width--huge {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background-color: #ea83ee;
}

p {
  font-size: 16px;
}

small {
  font-size: 12px;
}