section{
    @include max-width;
    background-color: $color-success;
    @include respond-to(800px){
        background-color: red;
    }
    padding: $padding;
}

.max-width--huge{
    @include max-width(1024px);
}

header{
    background-color: $color-brand;
}

p{
    font-size: map-get($fs, normal);
}
  
small{
    font-size: map-get($fs, x-small);
}